

.guest-says {color:#FF66FF;background-color:#EEEEEE;font-weight: bold; padding: 0 5px;}
.expert-says {color:#66FF66; background-color:#333333; font-weight: bold; padding: 0 5px;}
.server-says {color:#999999; background-color:#EEEEEE; padding: 0 5px; text-align: center;}
.chatterbox-output {border:thin solid black}