	<div class="swf_demo_container" >
	  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" class="large_swf" title="HelpGuest Demo">
		<param name="movie" value="swf/HelpGuestDemo.swf" />
		<param name="quality" value="high" />
		<embed src="flash/HelpGuestDemo.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" class="large_swf"></embed>
	  </object>
  	</div>