/* CSS Document */

.page_body {background-color:#CCCCCC; }

.top_level_container {width:500px; height:100%; text-align:center; margin:auto; color:#666666; font-family:Arial, Helvetica, sans-serif;}

.header_container {width:100%; height:50px; margin:auto;}

.middle_container {width:100%; border:#0099CC 20px solid;}

.footer_container {margin:auto;}

.large_swf { width:500px; height:400px; }
