
#debug-content .gwt-DisclosurePanel .gwt-TextArea {
	width: 800px;
	height: 600px;
}

.body_style {background-color: #DDDDDD;}
.marketplace_header {background-color: #DDDDDD;}
.marketplace_header_corners {background-color: #FFFFFF;}
.markteplace_header_body {background-color: #FFFFFF;}

.brand_name {font-family: "Courier New", Courier, monospace; color: #00000; font-size: 56px; letter-spacing: 7px; font-weight: bold}
.tag_line {font-family: "Courier New", Courier, monospace; color: #000000; width: 100%; font-weight: bold;}
.tag_line em {color: #FFCC00;}
.search_label {text-align:left;font-size: x-small;font-family:Arial, Helvetica, sans-serif; color: #999999;}
.search {background-color: #FFFFFF; text-align:left;font-size: x-small;font-family:Arial, Helvetica, sans-serif; }
.hg-HeaderMenu {background-color: #FFCC00; }
.hgx-HeaderMenu {background-color: #006600; }
.gwt-Hyperlink a,.gwt-HTML a {color: #FFFFFF; text-decoration: none; font-family:Arial, Helvetica, sans-serif;font-size:small;}
.gwt-Hyperlink a:hover,.gwt-HTML a:hover {text-decoration: none; color: #000000;}

.marketplace_body {background-color: #FFFFFF;}

.top_thirty_corners {background-color: #CCCCCC;}
.top_thirty_backdrop {background-color: #DDDDDD;}
.top_thirty {font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: x-small;background-color: #CCCCCC; width:100%;}

.intro_panel {background-color: #00CCFF;}
.featured_expert {background-color: #FF00CC;}

.chat_container_top {background-color: #FFFFFF;}
.chat_container_top_corners {background-color: #FFCC00;}
.chat_container_header {background-color: #FFCC00;}
.chat_container_label {color: #000000; font-weight: bold; font-family:"Courier New", Courier, monospace;}

.chat_container_body {background-color: #CCCCCC}
.chat_container_bottom {background-color: #FFFFFF;}
.chat_container_bottom_corners {background-color: #CCCCCC;}



.footer_menu {background-color: #CCCCCC; }
.footer_menu_item a {color: #FFFFFF; text-decoration: none; font-family:Arial, Helvetica, sans-serif;font-size:x-small;}
.footer_menu_item a:hover {text-decoration: none; color: #000000;}

.marketplace_footer {background-color: #DDDDDD;font-family:Arial, Helvetica, sans-serif;font-size: x-small;}
.marketplace_footer_corners {background-color: #CCCCCC;}
.marketplace_footer_body {background-color: #CCCCCC; font-family:Arial, Helvetica, sans-serif;font-size: x-small;}


.hg-TwoToneBackground {background-color:#FFFFFF;}
.hg-TwoToneTop {background-color: #FFCC00;}
.hg-TwoToneBottom {background-color: #CCCCCC;}

.hgx-TwoToneBackground {background-color:#FFFFFF;}
/*.hgx-TwoToneTop {background-color: #99CC88;}*/
.hgx-TwoToneTop {background-color: #006600;}
.hgx-TwoToneBottom {background-color: #CCCCCC;}

.avatar_rounded_image {background-color: #CCCCCC;}
.rounded_image_corners {background-color: #FFFFFF;}
.rounded_image_background {background-color: #FFFFFF;}

.helpguest_ExpertSummary {cursor: pointer;}

.expert_detail_header_handle {font-family:"Courier New", Courier, monospace; color: #000000; font-weight: bold;font-size:large;}
.expert_detail_header {font-family:"Courier New", Courier, monospace; color: #000000; font-weight: bold;font-size:small;}
	
.two_tone_top .gwt-Label {font-family:"Courier New", Courier, monospace; color: #000000; font-weight: bold;}
.helpguest_DetailBrickLeft {font-family:"Courier New", Courier, monospace; color: #000000; font-weight: bold; font-size:small;}
.helpguest_DetailBrickRight {font-family:Arial,Helvetica,sans-serif; font-size:small; color: #000000; font-weight: bold;}
.helpguest_DetailBrick {width: 100%;}

/* checkout block */
.helpguest_HelpNowPanel, .checkout_form {background:#EEEEEE; font-family:Arial, Helvetica, sans-serif; font-size:small;}
div.checkout_detail {padding: 0 20px;}
div.checkout_detail em {font-weight:bold;}
.helpguest_HelpNowPanel p { text-indent: 12px;}
div#buy_now {margin:auto;text-align:center;}
/* end checkout block */

.siteseal {width: 100px; height: 100px; border: 0 none; background: #EEEEEE;}
.about {width: 750px; height: 110ex; border: 0; background: #FFFFFF; }
.rate_calculation {width: 710px; border: 0; background: #FFFFFF;}
.home_panel {width: 750px; border: 0; background: #FFFFFF;}

.hg-ChangingTextButton {background-color: #FFFFFF;cursor:pointer;}
.hg-error {color:#FF0000; font-weight: bold; font-size: smaller;}

.expert-says {background-color: #CCCCCC;}
.guest-says {background-color: #EEEEEE;}

.hg-PaymentComplete {font-family: "Courier New", Courier, monospace;}
.hg-PaymentCompletePaypalRequired {font-size: small;}
.hg-PaymentCompleteNote {font-size: x-small;}
.hg-PaymentCompleteNote a {text-decoration: none; color: #FFCC00; font-weight: bold;}
.hg-GuestConnectInstructions {font-size: medium;}
.hg-GuestConnectInstructions a {color: #FFCC00; font-size: medium; font-weight: bold;}
.hg-GuestConnectInstructions a:hover{color: #000000; font-size: medium; font-weight: bold;}
.hg-GuestConnectInstructions ol li {font-size: bigger; font-weight: bold;}

.hg-PaymentCompleteReceipt {background-color: #FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size: medium;}
.hg-PaymentCompleteReceipt-corners {background-color: #DDDDDD;}
.hg-PaymentCompleteReceiptDock {background-color: #DDDDDD;}
.hg-PaymentCompleteTicket {font-size: large; font-weight: bolder;}


.hg-online {color: #00FF22; font-weight: bolder;}

.hg-AboutContent {font-family:Arial, Helvetica, sans-serif; font-size: medium;}
.hg-AboutContent div h2{font-size: larger;}
.hg-AboutContent div p{text-indent: 2em; font-size: smaller;}
.hg-AboutContent div p a{font-weight: bolder; color: #FFCC00;}

.hg-HelpGuestHeader-seeHow {background-color: #FF0000;}

.hg-instructional-verbage {font-size: x-large; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
.hg-table-column-headers {font-size: bigger; font-weight: bolder;}
.hg-CompletedSessions-grid {font-size: smaller;}

.hg-PopUp-inner{background-color: #FFFFFF;}
.hg-PopUp-inner-corner {background-color: #000000;}
.hg-PopUp-inner-border {background-color: #000000;}

.hg-PopUp-outer {background-color: #000000;}
.hg-PopUp-outer-corner {background-color: #FFFFFF;}
.hg-PopUp-outer-border {background-color: #FFFFFF;}

.hg-QuickTicket-textBox {font-size: 48px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.hg-QuickTicket-button {font-size: medium;}

.hg-link {font-weight: bolder; color: #FFCC00; text-decoration: none; }
.hg-generalInfo {font-family: Arial, Helvetica, sans-serif; color: #000000; }

