/* Created by Stevens Brosnihan for HelpGuest - Copyright HelpGuest 2008*/
html{
	
}

#debug-content .gwt-DisclosurePanel .gwt-TextArea {
	width: 800px;
	height: 600px;
}

body {
	background-color: #696969;
	margin-top: 30px;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.hg-error {
	color:#EE1100;
	font-family:sans-serif;
	font-size:10pt;
	font-variant: bold;
}

.hide {
	display: none;
}
 
.show {
	display: block;
}

.content_entry .gwt-HTML p.heading {
	font-family:sans-serif;
	font-size: 12pt;
	font-variant: bold;
}

.content_entry .gwt-HTML p.quote {
	font-family: monospace; 
	margin-left: 60px;
	margin-right: 60px;
	font-size: 9pt;
}

div#top-bar{
	height: 100%;
	width: 800px;
	margin: auto;
	background-color: #FFFFFF;
}
div#header-separator{
	height:20px;

}
#banner-right-side{
	background-color: #009ABC;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 7.5pt;
}

#banner-right-side-inner-table{
	width: 433px;
}

input.quick_ticket_input{
	height: 15px;
	width: 13em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: 0pt none;
	color: #333333;

}
input.quick_login_user_input{
	height: 15px;
	width: 13em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border: 0pt none;
	color: #333333;

}
input.quick_login_password_input{
	height:15px;
	width:13em;
	border: 0pt none;
	color: #333333;

}
div #quick-ticket-group{
	vertical-align: top;
	padding-left: 10px;
}

div .quick_ticket_button{
	font-size: x-small;
	background-color: #CBCBCB;
	color: #000000;
	width: 34px;
	height: 15px;
	text-align: center;
	border: 0pt none;
	padding: 1px 0px;
	cursor: pointer;
}

div .quick_login_button{
	font-size: x-small;
	background-color: #CBCBCB;
	color: #000000;
	width: 34px;
	height: 15px;
	text-align: center;
	border: 0pt none;
	padding: 1px 0px;
	cursor: pointer;
}

#banner-left-side{
	padding-left: 8px;
	width: 350px;
}

div #top-search {	
	margin: auto;
	width: 800px;
}

div #quicksearch-group {
	color: #000000;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 7.5pt;
	margin-bottom: 3px;
}

.search_label {
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 3px;
}

.quicksearch_input {
	border: 0px none;
	border-color: #FFFFFF;
	color: #333333;
	font-size: 7.5pt;
	height: 15px;
	padding:2px 0px 2px 4px;
	width: 18em;
	vertical-align: bottom;
	text-transform:lowercase;
	
}

.search_panel .quicksearch_button quicksearch_button-up{
	margin-bottom: 3px;
}

.quicksearch_button .html-face {
	background-color: #009ABC;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	height: 15px;
	padding: 3px 0px 1px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
	margin: auto;
	cursor: pointer;
}

.gwt-TabBarFirst {
	border-bottom:1px solid #696969;
	width:1px;
}

.gwt-TabBar {
	vertical-align: middle;
}

.gwt-TabBarItem {
    font-size: 8pt;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
    border-right: 1px solid #696969;
    padding: 10px;
    background-color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #696969;
}

.gwt-TabBarItem:focus {
    color: #009ABC;
}

.gwt-TabBarItem:hover {
    color: #F1592A;
    cursor: pointer;
}

.gwt-TabBarItem-selected {
    background-color: #FFFFFF;
    color:#009ABC;
    border-bottom: 1px solid #FFFFFF;
}

.gwt-TabBarItem-selected:hover {
    color: #009ABC;    
    cursor: pointer;
}

.tabbed_content_panel {
    width: 800px;
    margin: auto;
    background-color: #FFFFFF;
}
	
div #header-separator {
	height: 25px;
}
/***********************************************
 * START Find An Expert Page
 ***********************************************/ 

.find_expert{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.find_expert_demo_panel {
    border: 20px solid #FFFFFF;
    border-top: 30px solid #FFFFFF;
}


.demo_widget_lower_panel{
    background-color: #696969;	
	border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
	font-size: small;    
    width: 378px;
    font-weight: bold;
}

.demo_widget_lower_panel .gwt-HTML {
	padding: 10px;
}

.demo_widget_upper_panel{
	font-size:small;
	font-weight:bold;
	padding:10px;
	width:378px;
	background-color:#CBCBCB;
}

.demo_widget_upper_panel a {
	font-size: 11pt;
	color: #009ABC;
    text-decoration: none;
    text-align: right;
    padding-top: 5px;
}

.demo_widget_upper_panel a:hover {
    color: #F1592A;	
    cursor: pointer;
}

.helpguest_DetailBrickLeft{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 8.5pt;
}

.expert_short_brick{
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color: #FFFFFF;
    font-size: 7.5pt;
    float: right;
}

.tabbed_content_panel_label_about{
	width: 72px;
}

.tabbed_content_panel_label_find_an_expert{
	width: 131px;
}

.tabbed_content_panel_label_become_an_expert{
	width: 137px;
}

.tabbed_content_panel_label_security{
	width: 97px;
}

 .tabbed_content_panel_label_faq{
	width: 60px;
}

 .tabbed_content_panel_label_demo{
	width: 58px;
}

.tabbed_content_panel-tabbed_content-tabbed_bar {
	background-color: #FFFFFF;
}

.tabbed_content_panel-tabbed_content-tabbed_bar .gwt-TabBarRest {
	border-bottom: 1px solid #696969;
	width: 115px;
}

.tabbed_content_panel-tabbed_signin_content-tabbed_bar{
	width: 800px;
	background-color: #FFFFFF;
}

.tabbed_content_panel-tabbed_signin_content-tabbed_bar .gwt-TabBarRest {
	border-bottom:1px solid #696969;
	width: 288px;
}

.tabbed_content_panel_label_home{
	width: 60px;
}

.tabbed_content_panel_label_my_account{
	width: 97px;
}

.tabbed_content_panel_label_session_history{
	width: 100px;
}


.tabbed_content_panel_label_blog_badge {
	width: 97px;
}

.tabbed_content_panel_label_reset_password{
	width: 131px;
}

.tabbed_content_panel_label_view_demo{
	width: 70px;
}

.expert_short_brick_label_handle{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 11pt;
}

.expert_short_brick_rate{
	font-weight: bold;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 11pt;
}

.expert_short_brick_label_project{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7pt;
}

.expert_short_brick_projectNo{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7pt;
	font-weight: bold;
}

.expert_short_brick_label_time{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7pt;
}

.expert_short_brick_time{
	font-weight: bold;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7pt;
}


.about_menu_menu .gwt-Hyperlink a:link, .w, .w a:link{
	color: #009ABC;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	width: 83px;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.about_menu_menu .gwt-Hyperlink a:visited{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	width: 83px;
	color: #009ABC;
	background-color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.about_menu_menu .gwt-Hyperlink a:focus{
	color: #009ABC;
	border-bottom: 3px solid #009ABC;
}

.about_menu_menu .gwt-Hyperlink a:active{
	color: #009ABC;
	border-bottom: 3px solid #009ABC;
}

.find_expert_center{
	background-color: #696969;
	width: 230px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
 	font-family: block;
 	text-align: left;
 	color: #FFFFFF;
 	font-size: 13pt;
 	font-weight: bolder;
 	border-bottom: 1px solid #FFFFFF;
 	border-left: 11px solid #FFFFFF;
}

.expert_short_brick_list_label{
	background-color: #696969;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
	font-weight: bold;
	border-left: 15px solid #696969;
}
	
.find_expert_bottom_content{
	background-color: #696969;
	border-left: 11px solid #FFFFFF;
	border-bottom: 20px solid #FFFFFF;
}

.find_expert_expert_center_left{
	font-size: 8pt;
	font-weight: bold;
	border-left: 8px solid #696969;
	border-bottom: 15px solid #696969;
}

.find_expert_tab_top{
	background-color: #696969;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #FFFFFF;
	font-size: 8pt;
	font-weight: bold;
	padding-top: 18px;
}

.category_content_tabbed_panel{
	background-color: #FFFFFF;
	height: 315px;
	
}

.category_content_tabbed_panel_category_tab {
	width: 415px;	
}

.category_content_tabbed_panel .gwt-TabPanel{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	text-align: left;
}

.category_content_tabbed_panel_tabbar{
	border-right:2px solid #FFFFFF;
}

.category_content_tabbed_panel_tabbar .gwt-TabBarItem{
	background-color: #CBCBCB;
	border-bottom: 3px solid #F1592A;
	border-left: 2px solid #FFFFFF;
	color: #000000;
	font-size: 6pt;
	font-weight: bold;
	height: 26px;
	text-align: center;
	width: 61px;
	border-right: 0px solid;
}

.category_content_tabbed_panel_tabbar .gwt-TabBarItem-selected{
	background-color: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	color: #000000;
	text-align:center;
	vertical-align: center;
	height: 26px;
	border-right: 2px solid #FFFFFF;
}

.gwt-TabPanelBottom .offering_display_display table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.gwt-TabPanelBottom .offering_display_display table tbody tr td {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    font-size: small;
}

.offering_display_offerings_hyperlink a:visited {
    text-decoration: none;
}

.offering_display_offerings_hyperlink a {
    text-decoration: none;
    text-transform: upper;
    color: #009ABC;
}


.offering_display_offerings_hyperlink a:hover {
    text-decoration: none;
    color: #F1592A;
    cursor: pointer;
}


.category_content_tabbed_panel_tabwidget_count {
	font-size: xx-small;
	color: #000000;
}

.category_content_tabbed_panel_tabwidget_pad{
	text-align: center;
}
                                        

table.expert_short_brick_list_expert_list tbody tr td .expert_short_brick_odd {
    background-color: #FFFFFF;
    margin-bottom: 2px;
    padding: 7px 7px 0;
    width: 312px;
}

table.expert_short_brick_list_expert_list tbody tr td .expert_short_brick_even
{
    background-color: #CBCBCB;
    margin-bottom: 2px;
    padding: 7px 7px 0;
}

.expert_short_brick_even img.expert_short_brick_avatar_even {
	border-bottom: 7px solid #CBCBCB;
	border-right: 7px solid #CBCBCB;
}

.expert_short_brick_list_basevp{
	border:8px solid #696969;
}

.category_content_tabbed_panel_tabwidget table{
    margin-left: auto;
    margin-right: auto;
}

.category_content_tabbed_panel_tabwidget{
	text-align: center;
	border-right: 2px solid #fffff;
}

div.expert_short_brick_star_odd img.gwt-Image{
	border-left: 25px solid #FFFFFF;
}

div.expert_short_brick_star_even img.gwt-Image{
	border-left: 25px solid #CBCBCB;
}

.expert_short_brick_odd img.expert_short_brick_avatar_odd {
	border-bottom: 7px solid #FFFFFF;
	border-right: 7px solid #FFFFFF;
}

.about_menu{
	border-top: 30px solid #FFFFFF;
	border-left: 26px solid #FFFFFF;
}

.about_menu_menu .gwt-Hyperlink {
	border-bottom: 0px none;
	border-left: 0px none;
	border-right: 1px solid #009ABC;
	padding: 0px 20px;
	text-transform: uppercase;
}

.content_entry{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
}

.about_panel_content, .public_tab_panel_content_entry {
	margin: 0px 30px 30px 30px;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: small;
}

.public_tab_panel_content_entry {
	margin-top: 30px;
}

.public_tab_panel_content_entry .quote {
	font-family: monospace;
}

.public_tab_panel_html_content {
	width: 740px;
}

.checkout_detail {
	font-size: x-small;
	padding: 10px 0px 30px 0px;
}


.find-an-expert-header{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 16pt;
	color: #f1592a;
	margin: 26px 25px 17px;
}

.find-an-expert-left{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	color: #000000;
	margin: 0px 25px 18px;
}

.find-an-expert-left-second-para{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	color: #000000;
	margin: 0px 25px 25px;
}

.gwt-ListBox{
	height: 154px;
	margin: 0px 25px 25px;
}
	
.gwt-TextArea{
	margin: 0px 25px 25px;
	height: 154px;
}


/***********************************************
 * BEGIN BecomeAnExpert
 ***********************************************/ 
.become_an_expert_top {
	padding-bottom: 20px;
}

.become_an_expert_topLabel{
	border-bottom:1px solid #696969;
	color:#000000;
	font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:9pt;
	font-weight:bold;
	margin: 25px 25px 0px 25px;
}

#become_an_expert_header {
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;	
	margin: 0px 25px;
}

.become_an_expert_description1{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7.5pt;
	margin: 0px 25px 25px;
}

.become_an_expert_description2{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7.5pt;
	margin: 0px 25px 25px;
}
.become_an_expert_midLabel{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.become_an_expert_bottomLabel{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	color: #000000;
	margin: 25px 25px 0;
	font-weight: bold;
}

.become_an_expert_mid .horizontal_brick {
	width: 720px;
	margin: 5px auto;
	padding-left: 30px;
}

.become_an_expert_source_label{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 7.5pt;
	color: #000000;
	border-top: 5px solid #DEDEDE;
	font-weight: bold;
	padding-left: 87px;
	padding-right: 6px;
	width: 12em;
}

.become_an_expert_source {
	padding-top: 10px;
}

.become_an_expert_mid {
	background-color: #DEDEDE;
	border-bottom: 20px solid #DEDEDE;
}

.become_an_expert_bottom_description{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	border-bottom: 1px solid #696969;
	margin: 0px 25px 15px;
	width: 750px;
}

.become_an_expert_mid .input_brick_left,
.become_an_expert_mid .horizontal_brick_left .horizontal_brick_left {
	font-weight: bold;
	font-size: 8pt;
	padding-right: 20px;
	width: 110px;
}

.become_an_expert_mid .input_brick_input_widget {
	align: left;
}

.become_an_expert_mid .input_brick_accessory {
	padding-left: 20px;
}

.become_an_expert_bottom .hg-error {
	width: 750px;
	margin: auto;
}

.become_an_expert_top .hg-error {
	width: 750px;
	margin: 0 25px;
}

/***********************************************
 * END BecomeAnExpert
 ***********************************************/ 

.swf_demo_container {
	margin: 25px 125px;
	border: #009ABC 20px solid;
}

.large_swf { 
	width:500px; height:400px; 
}

/***********************************************
 * START ExpertLongBrickList
 ***********************************************/

.expert_long_brick_display_tab .gwt-TabBarItem {
	font-size:6pt;
}

.expert_long_brick_connect_label_upper{
	background-color: #c0c0c0;
	font-size: x-small;
	height: 15px;
	padding: 1px 0px;
	text-align: center;
	width: 85px;
	color: #FFFFFF;
	border-left: 7px solid #FFFFFF;
	border-right: 7x solid #FFFFFF;
	border-top: 7px solid #FFFFFF;
	font-weight: bold;
}
.expert_long_brick_connect_label_bottom{
	background-color: #009ABC;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-size: x-small;
	height: 15px;
	padding: 1px 0px;
	text-align: center;
	width: 100px;
	border-left: 7px solid #FFFFFF;
	border-right: 7x soild #FFFFFF;
	font-weight: bold;
}


.expert_long_brick_rate_label_rate{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8.5pt;
    font-weight: bold;
    padding: 3px;
    width: 90px;
}

.expert_long_brick_rate_label_text{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    padding: 3px;
}


.expert_long_brick_history_project_text{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
}

.expert_long_brick_history_project_No{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    padding: 3px;
}

.expert_long_brick_history_time_text{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
}

.expert_long_brick_history_project_avg_time{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    padding: 3px;
}

.expert_long_brick_rating_label{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
}
.expert_long_brick_display_label{
	border-bottom: 1px solid #696969;
	color: #000000;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	margin: 25px 0 0;
}
.expert_long_brick_display_html{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 8pt;
    margin: 0px 0px 15px;
}
    
.expert_long_brick_display_vp{
	margin: 15px 25px 15px;
}


.expert_long_brick_title{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
	border-bottom: 1px solid #B5B5B5;
}




.expert_long_brick_expert_handle{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.expert_long_brick_display_tab .gwt-TabBar{
	color: #000000;
	font-size: 6pt;
	font-weight: bold;
	height: 26px;
	text-align: center;
	width: 61px;
}

.expert_long_brick_display_tab .gwt-TabBarItem  {
	background-color: #CBCBCB;	
	border-bottom: 3px solid #F1592A;

}

.expert_long_brick_display_tab .gwt-TabBarItem-selected  {
	background-color: #B5B5B5;
	border-bottom:2px solid #B5B5B5;
	border-top:1px solid #B5B5B5;
}

.expert_long_brick_display_hp table.search_panel {
	margin-left: -245px;
	position: relative;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
}

.expert_long_brick_display_hp .quicksearch_input{
	background-color: #c0c0c0;
	color: #000000;
	width: 21.5em;
	border-bottom: 5px solid #FFFFFF;
	text-transform:lowercase;
}

.expert_long_brick_display_hp .search_panel .findresult_button .html-face{
	background-color: #009ABC;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	height: 15px;
	padding: 1px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 138px;
	margin: auto;
	border-right: 1px solid #FFFFFF;
}

.expert_long_brick_display_hp .search_panel .quicksearch_button .html-face {
	background-color: #009ABC;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	height: 15px;
	padding: 1px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
	margin: auto;
}

.expert_long_brick_connect_label_upper_odd{
	background-color:#B5B5B5;
	font-size:7.5pt;
	font-weight:bold;
	height:13px;
	padding:1px 0;
	text-align:center;
	width:70px;
}

.expert_long_brick_connect_label_bottom_odd{
	background-color:#009ABC;
	color:#FFFFFF;
	font-size:7pt;
	font-weight:bold;
	height:13px;
	text-align:center;
	width:85px;
}

.expert_long_brick_connect_label_upper_even{
	background-color:#B5B5B5;
	font-size:7.5pt;
	font-weight:bold;
	height:13px;
	padding:1px 0;
	text-align:center;
	width:70px;
}

.expert_long_brick_connect_label_bottom_even{
	background-color:#009ABC;
	color:#FFFFFF;
	font-size:7pt;
	font-weight:bold;
	height:13px;
	text-align:center;
	width:85px;
}

.expert_long_brick_list_no_results_found {
	font-size:large;
	margin:10px 20px;
	width:670px;
}

.expert_long_brick_list_top {
	background-color: #B5B5B5;
	font-size: small;
	width: 711px;
	padding-bottom: 10px;
}

.expert_long_brick_list_result_num {
	padding: 0 10px;
}

.expert_long_brick_list_back {
	padding: 0 10px;
	font-weight: bold;
}

.expert_long_brick_list_back a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	padding: 3px;
	border: 1px solid #696969;
}


/***********************************************
 * END ExpertLongBrickList
 ***********************************************/
 



/***********************************************
 * START ExpertCategoryDisplay
 ***********************************************/

.expert_category_display_link_panel {
    width: 750px;
    background-color: #B5B5B5;
    padding-bottom: 10px;
    font-size: small;
}

.expert_category_display_link_panel_previous {
	width: 6em;
	padding: 0 30px;
	cursor: pointer;
}

.expert_category_display_link_panel_previous a {
    border: 1px solid #696969;
    padding: 3px;
	text-decoration: none;
	color: #000000;
}


.expert_category_display_link_panel_previous_hidden a{
	width: 6em;
	padding: 0 30px;
	color: #B5B5B5;
	cursor: default;	
}

.expert_category_display_link_panel_goto {
	padding: 3px;
	border: 1px solid #FFFFFF;
}

.expert_category_display_link_panel_goto .gwt-TextBox {
	width: 2em;
	margin: 0 5px;
	border: none;
}

.expert_category_display_link_panel_next {
	width: 6em;
	padding: 0 30px;
	cursor: pointer;
}


.expert_category_display_link_panel_next a {
    border: 1px solid #696969;
    padding: 3px;
	text-decoration: none;
	color: #000000;
}

.expert_category_display_link_panel_next_hidden a {
	width: 6em;
	padding: 0 30px;
	color: #B5B5B5;
	cursor: default;
}

.expert_category_display_back {
    padding: 10px 0 20px;
}

.expert_category_display_back a {
	color:#000000;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
	padding: 3px;
	margin-left: 10px;
	border: 1px solid #696969;
}

.expert_category_display_back a:hover {
	cursor: pointer;
}

/***********************************************
 * END ExpertCategoryDisplay
 ***********************************************/







.findresult_button .html-face a:hover{
	background-color: #cccccc;
	cursor: pointer;
}

.quicksearch_button .html-face a:hover {
	background-color: #CCCCCC;	
	cursor: pointer;
}







/***********************************************
 * START ClientViewOfExpert
 ***********************************************/
.client_view_of_expert_top a{
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
}

.client_view_of_expert_info{
	border: 20px solid #696969;
}

.client_view_of_expert_info_wrapper {
	border-top: 5px solid #F1592A;
}

.client_view_of_expert_top .client_view_of_expert_link1 a {
	border-right: 1px solid #000000;
	margin: 11px;
	padding-right: 10px;
}

.client_view_of_expert_top .client_view_of_expert_link2 a {
	padding: 5px;
}

.client_view_of_expert_base{
	padding: 24px;
}

.client_view_of_expert_title_bar{
	background-color: #CBCBCB;
	border-bottom: 1px solid #000000;
	font-size: large
	padding-left: 10px;
	padding-top: 5px;
}


.client_view_of_expert_title_bar .client_view_of_expert_categoryIcon {
    width: 212px;
}

.client_view_of_expert_title_bar .client_view_of_expert_handle{
	width: 490px;
	padding-left: 10px;	
}

.client_view_of_expert_avatarPanel{
	border-bottom: 20px solid #FFFFFF;
}

.client_view_of_expert_html1{
	color: #f1592a;
	border-left: 7px solid #FFFFFF;
	font-size: 9pt;
}

.client_view_of_expert_html2{
	font-size: 10pt;
	padding: 10px;
}

.client_view_of_expert_left{
	padding: 20px;
	width:480px;
	height:100%;
}

.client_view_of_expert_right{
	margin:20px;
	width:190px;
	height:100%;
}

.client_view_of_expert_right_outer {
	border-left: 1px solid #696969;
	width: 210px;
}

.gwt-Label .client_view_of_expert_right {
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size:8pt;
	font-weight: bold;
}

.client_view_of_expert_connect_widget {
    padding-right: 20px;
}

.client_view_of_expert_right .horizontal_brick_left {
    font-size: small;
    font-weight: bold;
}

.client_view_of_expert_right .horizontal_brick_right {
    font-size: small;
    padding-left: 10px;
    padding-bottom: 10px;
}

.client_view_of_expert_right .vertical_brick_top {
    font-size: small;
    font-weight: bold;
}

.client_view_of_expert_right .vertical_brick_bottom {
    font-size: small;
    padding-bottom: 10px;
}

.client_view_of_expert_completed_brick {
	padding-top: 20px;
}

.client_view_of_expert_expertise_brick {
	padding-top: 20px
}

.connect_panel_labeled_visual_cue {
    background-color: #CBCBCB;
    height: 15px;
    width: 90px;
    padding: 2px 5px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    border-top: 6px solid #FFFFFF;
}

.connect_panel_labeled_visual_cue img {

}

.client_view_of_expert_labelupper{
	background-color: #CBCBCB;
	color: #FFFFFF;
	font-size: x-small;
	padding: 1px 0px 1px 5px;
	font-weight: bold;
}

.client_view_of_expert_labelbuttom{
	background-color: #009ABC;
	border: 0pt none;
	color: #FFFFFF;	
	font-size: x-small;
	height: 15px;
	padding: 1px 0px;
	text-align: center;
	width: 90px;
	font-weight: bold;
}

.client_view_of_expert_terms {
    width: 200px;
    font-size: medium;
}

.client_view_of_expert_tree{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.client_view_of_expert_buttom_link a{
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
}

.client_view_of_expert_buttom_link .client_view_of_expert_link3 a{
	border-right: 1px solid #000000;
	margin: 5px;
	padding-right: 5px;
}

.client_view_of_expert_buttom_link .client_view_of_expert_link4 a{
	margin: 5px
}

.client_view_of_expert_image {
    width: 90px;
    height: 100px;
}

/***********************************************
 * END ClientViewOfExpert
 ***********************************************/



/***********************************************
 * START ExpertSessionBlock
 ***********************************************/
.expert_session_block_horiz_panel{
	background-color: #FFFFFF;
}

.expert_session_block_header{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.expert_session_block_right_side .gwt-Image {
	border: 0;
}

.expert_session_block_right_side a:hover {
	cursor: pointer;
}

.expert_session_block_right_side .gwt-HTML {
	font-size: 9pt;
	font-weight: bold;
}


.expert_session_block_left_side .gwt-Label{
}

.expert_session_block_left_side{
	padding-top: 20px;
	width: 400px;
}


.expert_session_block_left_side .content_entry {
    margin-left: 25px;
}

.expert_session_block_left_side .content_entry  .info {
    font-size: medium;
    color: #009abc;
}

.expert_session_block_right_side {
    width: 350px;
    padding-right: 25px;
}

.expert_session_block_header .gwt-Label{
	font-size: medium;
}

.expert_session_block_quick_ticket_brick .gwt-Label {
	font-size: large;
	font-weight: bold;
	padding-right: 10px;
}

.expert_session_block_quick_ticket_brick {
	padding: 25px 0px 0px 25px;
	font-size: medium;
}

.urgent{
	color: red;
	font-size: 12pt;
}

.expert_session_block_session_link {
	margin: 5px 0 0 35px;
	width: 350px;
}

.left_right_brick_left_justified .gwt-HTML a {
	font-size:large;
	font-weight:bold;
	padding-left:18px;
	text-decoration:none;
	color: #009ABC;
}

.left_right_brick_left_justified .gwt-HTML a:hover {
	color: #F1592A;
}

/***********************************************
 * END ExpertSessionBlock
 ***********************************************/


.personal_info_block{
	border-bottom: 1px solid #000000;
}

.personal_info_block_header{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.personal_info_block_header .gwt-Label { 
	font-size: medium;
}

.personal_info_block_bio_brick{
	padding: 25px;
}

.personal_info_block_bio_brick .gwt-TextArea {
    width: 400px;
}

.personal_info_block_bio_brick .gwt-Label {

}

.personal_info_block_avatar_panel {
	padding: 0 0 20px 25px;
}

.personal_info_block_avatar_panel .gwt-Image{
	padding-right: 20px;
	width: 90px;
}


/***********************************************
 * START RateCalculatorBlock
 ***********************************************/
.rate_calculator_block_header{
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.rate_calculator_block_header .gwt-Label {
	font-size: medium;
}

.rate_calculator_block_horiz_panel{
	border-top: 5px solid #DEDEDE;
	margin: auto;
	padding: 20px 0;
	width: 750px;
}

.rate_calculator_block_button_grid {
	padding-left: 60px;
}

.rate_calculator_block{
	background-color: #DEDEDE;
}

.rate_calculator_block_session_length_input_panel{
	padding-left: 15px;
	border-bottom: 2px solid #DEDEDE;
}

.rate_calculator_block_rate_input_panel{
	padding-left: 48px;
	border-bottom: 2px solid #DEDEDE;
}

.rate_calculator_block_rate .horizontal_brick_left .horizontal_brick_left,
.rate_calculator_block_session_length .horizontal_brick_left .horizontal_brick_left,
.rate_calculator_block_min_deposit .horizontal_brick_left{
	font-weight: bold;
	font-size: 9pt;
	padding-right: 20px;
	width: 170px;
}

.rate_calculator_block_session_length .horizontal_brick_left .horizontal_brick_right {
	text-align: right;
}

.rate_calculator_block_min_deposit .horizontal_brick_right{
	font-size: 9pt;
}

.rate_calculator_block_left_side .input_brick_input_widget {
	align: left;
}

.rate_calculator_block_left_side .input_brick_accessory {
	font-size: 9pt;
}

.rate_calculator_block_min_deposit{
	border-bottom: 10px solid #DEDEDE;
}

.rate_calculator_block_left_side .horizontal_brick  {
	padding-bottom: 10px;
}

/***********************************************
 * END RateCalculatorBlock
 ***********************************************/



/***********************************************
 * START ExpertProfile
 ***********************************************/
expert_profile_account_maintenance_label {
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.expert_profile_account_maintenance_label .gwt-Label {
	font-size: medium;
}

.expert_profile_account_maintenance_brick .vertical_brick_top {
	border-bottom: 1px solid #696969;
	color: #000000;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-weight: bold;
	margin: 25px 25px 10px;
	width: 750px;
}

.expert_profile_account_maintenance_brick .vertical_brick_bottom {
	margin:auto;
	padding-bottom:40px;
	width:750px;
}

.expert_profile_account_maintenance_brick .vertical_brick_bottom .gwt-Label {
	font-size: small;
	color: #009ABC;
}

.expert_profile_reset_password_focus .gwt-Label,
.expert_profile_session_maintenance a {
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: small;
	color: #009ABC;
	font-weight: bold;
}

.expert_profile_tags_widget_label {
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	color: #000000;
	margin: 25px 25px 10px;
	font-weight: bold;
	border-bottom: 1px solid #696969;
	width: 750px;
}

.expert_profile_tags_widget_label .gwt-Label {
	font-size: medium;
}

.expert_profile_tt_bottom {
	width: 800px;
	margin: auto;
	border-bottom: 20px solid #CBCBCB;
	background-color: #CBCBCB;
}
/***********************************************
 * END ExpertProfile
 ***********************************************/
 
 
.personal_info_block_button_grid{
	padding-left: 45px;
}

.expert_long_brick_list {
    border-top: 20px solid #B5B5B5;
    border-left: 20px solid #B5B5B5;
    border-right: 20px solid #B5B5B5;
    border-bottom: 10px solid #B5B5B5;
}

.expert_long_brick_grid {
	width: 710px;
	margin-bottom: -3px;
	margin-top: -3px;
	cursor: pointer;
}

.expert_long_brick_grid .expert_long_brick_expert_odd {
	width: 210px;
    border-right: 1px solid #696969;
	height: 110px;
}

.expert_long_brick_grid .expert_long_brick_expert_even {
	width: 210px;
    border-right: 1px solid #696969;
	height: 110px;
}

.expert_long_brick_title_expert {
	width: 214px;
	border-right:1px solid #696969;
	margin-bottom:-3px;
	margin-top:-3px;
	padding:5px 0;
}

.expert_long_brick_grid .expert_long_brick_rate {
	border-right: 1px solid #696969;
	padding-left:10px;
	width:80px;
	height: 110px
}

.expert_long_brick_title_rate {
	width: 97px;
	border-right:1px solid #696969;
	margin-bottom:-3px;
	margin-top:-3px;
	padding:5px 0;	
}

.expert_long_brick_grid .expert_long_brick_history {
	width: 160px;
    border-right: 1px solid #696969;
	height: 110px;
}

.expert_long_brick_title_history {
	width: 165px;
	border-right:1px solid #696969;
	margin-bottom:-3px;
	margin-top:-3px;
	padding:5px 0;
}

.expert_long_brick_grid .expert_long_brick_rating_odd {
	width: 110px;
    border-right: 1px solid #696969;
	height: 110px;
}

.expert_long_brick_grid .expert_long_brick_rating_even {
	width: 110px;
    border-right: 1px solid #696969;
	height: 110px;
}

.expert_long_brick_title_rating {
	width: 116px;
	border-right:1px solid #696969;
	margin-bottom:-3px;
	margin-top:-3px;
	padding:5px 0;
}


.expert_long_brick_connect_imageText_even {
    background-color: #B5B5B5;
}

.expert_long_brick_grid .expert_long_brick_connect {
	width: 85px;
}

.expert_long_brick_title_connected {
	width: 92px;
}

.expert_long_brick_grid tbody tr td div {
	margin: auto;
} 

.expert_long_brick_grid tbody tr td div {
	margin: auto;
}

.expert_long_brick_odd {
	background-color: #F3F3F3;
	border-bottom: 1px solid #B5B5B5;
}

.expert_long_brick_even {
	border-bottom: 1px solid #B5B5B5;
}

.expert_long_brick_list_expertList {
	background-color: #DEDEDE;
}

.expert_long_brick_expert_hp {
	margin-top: 5px;
}

.expert_long_brick_expert_hp .expert_long_brick_expert_avatar_even {
	margin-right: 10px;
}


.find_expert_html_content .gwt-HTML p {
    font-size: small;
    text-align: justify;
}

.find_expert_html_content .gwt-HTML .find-an-expert-header {
    font-size: large;
    font-weight: bold;
}

.expert_session_block_enable_html a {
	font-size: small;
	font-weght: bold;
	text-decoration: none;
	color: #FFFFFF;
}

.expert_session_block_enable_html a:hover {
	color: #000000;
	cursor: pointer;
}

.expert_session_block_enable_html {
	text-align: center;
	background-color: #009ABC;
	padding: 2px;
}

.expert_session_block_body {
	padding-bottom: 20px;
	width: 750px;
	margin: auto;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.expert_profile_personal_info_block {
	margin: auto;
}

/***********************************************
 * BEGIN GetUserEmailToResetPassword
 ***********************************************/ 
.become_expert_request_password {
	background-color:#DEDEDE;
	border-bottom: 20px solid #FFFFFF;
	border-top: 20px solid #FFFFFF;
}

.request_password {
	color:#000000;
	font-size:9pt;
	font-weight:bold;
	margin:25px 25px 0;
	width:750px;
	text-transform:uppercase;
	background-color:#DEDEDE;
}

.get_user_email_to_reset_password_top_label_description {
	font-size: 9pt;
	border-bottom: 1px solid #696969;
	margin: 0px 25px 15px;
	width: 750px;
}

.email_Address {
	margin: 10px 25px;
	font-size: 8pt;
	font-weight: bold;
}

.email_Address .gwt-TextBox {
	margin-left: 20px;
	width: 250px;
}

.buttons_submit .gwt-Button{
	margin: 0 5px 25px;
}

.buttons_submit {
	margin-left: 400px;
}
/***********************************************
 * END GetUserEmailToResetPassword
 ***********************************************/ 
 
/***********************************************
 * BEGIN GetNewPswdToResetPswdPanel
 ***********************************************/ 
.reset_password {
	color:#000000;
	font-size:9pt;
	font-weight:bold;
	margin:25px 25px 0;
	width:750px;
	text-transform:uppercase;
}

.all_fields_required_top_label_description {
	font-size: 9pt;
	border-bottom: 1px solid #696969;
	margin: 0px 25px 15px;
	width: 750px;
}

.email_Address_1 {
	margin: 10px 25px;
	font-size: 8pt;
	font-weight: bold;
}

.email_Address_1 .gwt-TextBox {
	margin-left: 40px;
	width: 250px;
}

.reset_password_1 {
	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}

.reset_password_1 .gwt-PasswordTextBox {
	margin-left: 20px;
	width: 250px;
}

.reset_password_2 {
	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}
.reset_password_2 .gwt-Label {
	width: 116px;
}

.reset_password_3 {
	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}

.reset_password_3 .gwt-Label{
	width: 118px;
}
/***********************************************
 * END GetNewPswdToResetPswdPanel
 ***********************************************/ 
 /***********************************************
 * BEGIN ChangePassword
 ***********************************************/ 
 .current_password {
 	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}

 .current_password .gwt-PasswordTextBox {
 	margin:0px 55px;
	width:130px;
}

 .new_password {
 	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}
 
 .new_password .gwt-PasswordTextBox {
 	margin:0px 71px;
	width:130px;
}

 .confirm_password_1 {
  	margin: 10px 25px 5px;
	font-size: 8pt;
	font-weight: bold;
}
 .confirm_password_1 .gwt-PasswordTextBox {
 	margin:0px 30px;
	width:130px;	
}
  /***********************************************
 * END ChangePassword
 ***********************************************/ 
 /***********************************************
 * BEGIN HelpGuestInfoOK
 ***********************************************/ 
.helpguest_info_ok_vertical_panel {
	background-color:#DEDEDE;
	border-bottom: 20px solid #FFFFFF;
	border-top: 20px solid #FFFFFF;
}

.content_info {
	font-size: 9pt;
	margin: 0px 25px 15px;
	width: 750px;
}
/***********************************************
 * END HelpGuestInfoOK
 ***********************************************/ 
/***********************************************
 * BEGIN ExpertTagsWidget
 ***********************************************/ 
.expert_tags_widget_label {
	font-size: 9pt;
	font-weight: bold;
	color: #696969;
}

.expert_tags_widget_help {
	font-size: 9pt;
	color: #F1592A;
	padding-left: 5px;
}
.expert_tags_widget_help_acknowledged {
	font-size: 9pt;
	color: #009ABC;
	padding-left: 5px;
}

.expert_tags_widget {
	margin: auto;
	width: 750px;
}

.expert_tags_widget .vertical_brick_vp {
	padding-right: 20px;
}

textarea.expert_tags_widget_text_area {
	height: 126px;
}

.expert_tags_widget_selection {
	height: 130px;
}

/***********************************************
 * END ExpertTagsWidget
 ***********************************************/ 

/***********************************************
 * START gwt-DialogBox
 ***********************************************/ 
.gwt-DialogBox { border: 2px solid #009ABC; background-color: #FFFFFF; height:8em; font-size: medium;}
.gwt-DialogBox .Caption { background-color: #CBCBCB; border-bottom: 2px solid #009ABC; color: #F1592A; padding: 2px 5px; font-weight: bold; }
.gwt-DialogBox .dialogContent {  }
.gwt-DialogBox .dialogTopLeft {  }
.gwt-DialogBox .dialogTopLeftInner {  }
.gwt-DialogBox .dialogTopCenter { }
.gwt-DialogBox .dialogTopCenterInner {  }
.gwt-DialogBox .dialogTopRight {  }
.gwt-DialogBox .dialogTopRightInner {  }
.gwt-DialogBox .dialogMiddleLeft {  }
.gwt-DialogBox .dialogMiddleLeftInner {  }
.gwt-DialogBox .dialogMiddleCenter { }
.gwt-DialogBox .dialogMiddleCenterInner {  }
.gwt-DialogBox .dialogMiddleRight {  }
.gwt-DialogBox .dialogMiddleRightInner {  }
.gwt-DialogBox .dialogBottomLeft {  }
.gwt-DialogBox .dialogBottomLeftInner {  }
.gwt-DialogBox .dialogBottomCenter {  }
.gwt-DialogBox .dialogBottomCenterInner {  }
.gwt-DialogBox .dialogBottomRight {  }
.gwt-DialogBox .dialogBottomRightInner {  }

.gwt-DialogBox .gwt-Label { font-size: small; font-weight: bold; padding: 5px 10px; }
.gwt-DialogBox .dialog_box_button_panel { padding-left: 200px; }
.gwt-DialogBox .dialog_box_button_panel tr td { padding-right: 10px; }

/***********************************************
 * END gwt-DialogBox
 ***********************************************/ 
 /***********************************************
 * START Survey
 ***********************************************/ 

.survey_via_decision_dialog tbody tr td .gwt-Label {
	
}

 /***********************************************
 * END Survey
 ***********************************************/ 

 /***********************************************
 * START BlogBadge
 ***********************************************/ 

.badge_option {
}

.badge_image_option {
}

.badge_option_vp {
}

.tag_line_option_radio {
}

.tag_line_option {
}

.tag_line_option_hp {
}

.compelling_words_vp {
}

.compelling_words {
}

.badge_maker_section {
	background-color: #DEDEDE;
	border-bottom: 20px solid #DEDEDE;
}

.badge_maker_section_url_details {
	margin: 5px 55px;
	width: 600px;
}

.badge_maker_section_name_details {
	margin: 5px 55px;
	width: 32em;
}

.badge_maker_section_fee_details {
	margin: 5px 55px;
	width: 7em;	
}

.badge_maker_section_create_it {
	margin: 20px 0 0 500px;
}

.badge_maker_section_vp {
}

.current_badge_section {
}

.current_badge_section_hp {
	margin:5px auto;
	width:750px;
}

.current_badge_section_vp {
	margin-bottom: 20px;
}

.current_badge_section_buttons {
	margin: 20px 0 0 300px;
}

.current_badge_section_buttons .gwt-Button {
	margin: 0 5px;
}

.badge_list_item {
}

.badge_list_item_hp {
}

.blog_badge_boundingBox {
}

.blog_badge {
}

.step {
	width: 750px;
 	margin: 5px auto;
}

.step_hp .gwt-Label {
	font-size: 10pt;
	font-style: italic;
	padding-left: 5px;
}

.step_image {
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
}

.step_image_1 {
	background-image: url("/phaseIII/images/Step1.png");
}

.completed_step_image_1 {
	background-image: url("/phaseIII/images/Step1Complete.gif");
}

.step_image_2 {
	background-image: url("/phaseIII/images/Step2.png");
}

.completed_step_image_2 {
	background-image: url("/phaseIII/images/Step2Complete.gif");
}

.step_image_3 {
	background-image: url("/phaseIII/images/Step3.png");
}

.completed_step_image_3 {
	background-image: url("/phaseIII/images/Step3Complete.gif");
}

.step_image_4 {
	background-image: url("/phaseIII/images/Step4.png");
}

.completed_step_image_4 {
	background-image: url("/phaseIII/images/Step4Complete.gif");
}

.step_image_5 {
	background-image: url("/phaseIII/images/Step5.png");
}

.completed_step_image_5 {
	background-image: url("/phaseIII/images/Step5Complete.gif");
}

.web_content_section_vp .gwt-TextArea {
	margin: 5px 48px 50px;
	width: 700px;
	height: 65px;
}

.subtext_box {
	width: 22em;
	margin: 5px 0 0 22px;
}

.subtext {
	font-size: 9pt;
}

 /***********************************************
 * END BlogBadge
 ***********************************************/ 

 
 
 /***********************************************
 * START Section
 ***********************************************/ 
 .section_label {
	font-size: 9pt;
 	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
 	color:#000000;
 }
 
 .section_label .title {
	font-weight: bold;
	margin: 25px 25px 0;
	font-variant: small-caps;
	font-size: 11pt;
 }
 
 .section_label .description {
	margin: 0px 25px 15px;
	width: 750px;
	border-bottom:1px solid #696969;
 }
 
 .section_content {
 	padding-left: 50px;
 	width: 700px;
 	margin: 5px auto;
 }
 
 /***********************************************
 * END Section
 ***********************************************/ 